@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
}

@plugin "daisyui/theme" {
  name: "maintheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  accent: #81d4fa;

  --color-base-100: #f9fafb;
  --color-base-200: #e9f5ec;
  --color-base-300: #c8e6c9;
  --color-primary: #4caf50;
  --color-primary-focus: #388e3c;
  --color-secondary: #c8e6c9;
  --depth: 1;
  --noise: 0;
}

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --primary-main: #4caf50;
  --primary-dark: #388e3c;
  --primary-light: #c8e6c9;
  --primary-muted: #e9f5ec;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --accent-yellow: #ffeb3b;
  --accent-mint: #dcfce7;
  --accent-sky: #81d4fa;
  --peach: #ec9378;
}

@theme inline {
  --col-background: var(--background);
  --col-foreground: var(--foreground);
  --col-primary-main: var(--primary-main);
  --col-primary-dark: var(--primary-dark);
  --col-primary-light: var(--primary-light);
  --col-primary-muted: var(--primary-muted);
  --col-text-primary: var(--text-primary);
  --col-text-secondary: var(--text-secondary);
  --col-accent-mint: var(--accent-mint);
  --col-peach: var(--peach);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary-dark);
}

@utility btn {
  @apply rounded-full font-normal;
}

@utility btn-primary {
  @apply font-normal;
}

@utility btn-secondary {
  @apply font-normal text-(--col-text-primary)
}

@utility input {
  @apply rounded-lg w-full;
}

@utility input-secondary {
  @apply rounded-lg w-full;
}

@layer components {
  .form {
    @apply flex flex-col;
  }
}
